<h1>About KingSight</h1>

<p>Your fortune for the day:</p>
<blockquote> 
  {{!-- /KingSight-> what, why, who, howto --}}
</blockquote>
<p>Questions? Checkout our
  <a href="/about" data-test-id="about">About Us</a> page!</p>
  {{!-- data-test-id is used to identify a component to be tested --}}
  {{!-- link git hub portfolio site linked in--}}